
*.pyc
tripadvisor/data

tripadvisor/temp.json

tripadvisor/summary.json

*.mm

*.index

*.dict

*.lsi

*.projection

*.npy

*.lda

*.state

*.swp

tripadvisor/sentences.json

tripadvisor/aspect_tagged_sentences.json

mongodb

tripadvisor/aspects_train.csv
