
<html>
    <head>
        <meta charset="utf-8">
        <title>Review # {{review.id}}</title>
        <style type="text/css">
            table
            {
                border-collapse:collapse;
            }
            table, td, th
            {
                border:1px solid black;
            }
        </style>
    </head>
    <body>
        <h2>Review # {{review.id}}</h2>
        <p>
            <ul>
                {% for k,v in review.ratings.iteritems() %}
                    <li>{{k}}: {{v}}</li>
                {% endfor %}
            </ul>
        </p>
        <form method="post">

            <table  >
                <tr>
                <th>No. </th>
                <th>Sentence</th>
                <th>Aspect</th>
                <th>Sentiment</th>
                </tr>

                {% for sentence in review.sentences %}
                    <tr>
                        <td> {{ loop.index }} </td>
                        <td> {{sentence.raw}} </td>

                        <td>
                            <select name = 'aspect_{{loop.index0}}'>
                                {% for aspect_option in aspect_options %}
                                    {% if aspect_option == sentence.aspect %}
                                        <option value='{{aspect_option}}' selected>{{aspect_option}}</option>
                                    {% else %}
                                        <option value='{{aspect_option}}'>{{aspect_option}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>

                        <td>
                            <select name = 'sentiment_{{loop.index0}}'>
                                {% for sentiment_option in sentiment_options %}
                                    {% if sentiment_option == sentence.sentiment %}
                                        <option value='{{sentiment_option}}' selected>{{sentiment_option}}</option>
                                    {% else %}
                                        <option value='{{sentiment_option}}'>{{sentiment_option}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </form>

    </body>
</html>
