<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{ hotel.name }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    </head>
    <body>
        <h2>{{ hotel.name }}</h2>
        <h3>{{ hotel.price }}</h3>

        <table  >
            <tr>
            <th>Ratings</th>
            <th>Comments</th>
            </tr>

            {% for review in hotel.reviews %}
                <tr>
                    <td>NA</td>
                    <td>{{ review.content}}</td>
                </tr>
            {% endfor %}

        </table>

    </body>
</html>
