<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hotel Summary</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    </head>
    <body>
        <table  >
        <caption>Hotels</caption>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th># of Reviews</th>
        </tr>

        {% for summary in summaries %}
            <tr>
                <th><a href="/details/{{ summary["Id"] }}">  {{ summary["Id"] }}   </a>     </th>
                <th>{{ summary["Name"] }}</th>
                <th>{{ summary["Price"] }}</th>
                <th>{{ summary["NumReviews"] }}</th>
            </tr>
        {% endfor %}

        </table>

    </body>
</html>
